<div class="check-in-widget">
  <div class="check-in-header">
    <h3>{{i18n "check_in.title"}}</h3>
    <div class="check-in-points">
      <span class="points-label">{{i18n "check_in.total_points"}}:</span>
      <span class="points-value">{{this.totalPoints}}</span>
    </div>
  </div>

  <div class="check-in-status">
    <div class="status-text">{{this.statusText}}</div>
    {{#if this.consecutiveDays}}
      <div class="consecutive-days">
        {{i18n "check_in.consecutive_days" days=this.consecutiveDays}}
      </div>
    {{/if}}
  </div>

  <div class="check-in-action">
    <button 
      class={{this.buttonClass}}
      {{on "click" this.checkIn}}
      disabled={{or this.loading (not this.canCheckIn)}}
    >
      {{#if this.loading}}
        {{d-icon "spinner" class="fa-spin"}}
      {{else if this.checkedInToday}}
        {{d-icon "check"}}
      {{else}}
        {{d-icon "calendar-plus"}}
      {{/if}}
      {{this.buttonText}}
    </button>
  </div>

  <div class="check-in-info">
    <div class="points-info">{{this.pointsInfo}}</div>
    {{#if this.settings.makeup_enabled}}
      <div class="makeup-info">
        {{i18n "check_in.info.makeup_available" cost=this.settings.makeup_cost}}
      </div>
    {{/if}}
  </div>
</div>
