<div class="makeup-check-in">
  {{#if this.makeupEnabled}}
    <div class="makeup-header">
      <h4>{{i18n "check_in.makeup.title"}}</h4>
      <div class="makeup-info">
        <div class="user-points">
          {{i18n "check_in.makeup.your_points"}}: <strong>{{this.userPoints}}</strong>
        </div>
        <div class="makeup-cost">
          {{i18n "check_in.makeup.cost"}}: <strong>{{this.makeupCost}}</strong>
        </div>
        <div class="net-gain">
          {{i18n "check_in.makeup.net_gain"}}: <strong>{{this.netGain}}</strong>
        </div>
      </div>
    </div>

    {{#if this.canAffordMakeup}}
      <div class="makeup-form">
        <div class="date-selection">
          <label>{{i18n "check_in.makeup.select_date"}}:</label>
          <div class="date-options">
            {{#each this.availableDates as |dateOption|}}
              <button 
                class="btn date-option {{if (eq this.selectedDate dateOption.value) 'btn-primary' 'btn-default'}}"
                {{on "click" (fn this.selectDate dateOption.value)}}
              >
                <div class="date-day">{{dateOption.dayOfWeek}}</div>
                <div class="date-label">{{dateOption.label}}</div>
              </button>
            {{/each}}
          </div>
        </div>

        {{#if this.selectedDate}}
          <div class="makeup-action">
            <button 
              class="btn btn-primary makeup-button"
              {{on "click" this.performMakeup}}
              disabled={{not this.canPerformMakeup}}
            >
              {{#if this.loading}}
                {{d-icon "spinner" class="fa-spin"}}
                {{i18n "check_in.makeup.processing"}}
              {{else}}
                {{d-icon "undo"}}
                {{i18n "check_in.makeup.confirm"}}
              {{/if}}
            </button>
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="insufficient-points">
        <div class="warning-icon">
          {{d-icon "exclamation-triangle"}}
        </div>
        <div class="warning-text">
          {{i18n "check_in.makeup.insufficient_points"}}
        </div>
        <div class="points-needed">
          {{i18n "check_in.makeup.need_more_points" needed=(sub this.makeupCost this.userPoints)}}
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="makeup-disabled">
      <div class="disabled-icon">
        {{d-icon "ban"}}
      </div>
      <div class="disabled-text">
        {{i18n "check_in.makeup.disabled"}}
      </div>
    </div>
  {{/if}}
</div>
